@charset "utf-8";
/* CSS Document */

body {

}

.title-text{
	text-align: center;
}

#map-container {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

svg {
	position: absolute;
}

.map {
	border: medium solid #999;
}

.ridings {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.background {
	fill: #cccccc
}

.radio-buttons {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.info-block {
	width: 100%;
}

#info-block-left {
	background-color: lightgoldenrodyellow;
}

#info-block-centre {
	background-color: lightblue;
}

#info-block-right {
	background-color: lightgoldenrodyellow;
}

.vote-result {
	display: flex;
}

.vote-result-item-centre {
	background-color: darkgrey;
	margin: 5px;
}

.left-ballot {
	background-color: darkgrey;
	margin: 5px;
}

.right-ballot {
	background-color: darkgrey;
	margin: 5px;
}

.ballot-yes {
	background-color: lightgreen;
}

.ballot-no {
	background-color: lightcoral;
}

/* I'm no sorry about this but it was the only way I could make it centre vertically */
.floater {
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -20%;
}

.ballot-text {
	clear: both;
	text-align: center;
}