@charset "utf-8";
/* CSS Document */

body {

}

.title-text{
	text-align: center;
}

#map-container {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

svg {
	position: absolute;
}

.map {
	border: medium solid #999;
}

.ridings {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.background {
	fill: #cccccc
}

.radio-buttons {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.info-block {
	width: 100%;
}

#info-block-left {
	background-color: lightcoral;
}

#info-block-centre {
	background-color: lightblue;
}

#info-block-right {
	background-color: lightgreen;
}

.vote-result-item-centre {
	height: 100%;
	width: 100%;
	background-color: pink;
	margin: 5px;
}