@charset "utf-8";
/* CSS Document */

body {

}

.title-text{
	text-align: center;
}

#map-container {
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

svg {
	position: absolute;
}

.map {
	border: medium solid #999;
}

.ridings {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.background {
	fill: #cccccc
}

.radio-buttons {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.info-block {
	border-radius: 10px;
	width: 100%;
}

#info-block-left {
	background-color: lightgoldenrodyellow;
}

#info-block-centre {

}

#info-block-right {
	background-color: lightgoldenrodyellow;
}

.row .vote-result-even {
	background-color: white;
	display: flex;
	border-radius: 10px;
}

.row .vote-result-odd {
	background-color: lightgrey;
	display: flex;
	border-radius: 10px;
}

.vote-description {
	border: 2px solid darkgrey;
	margin: 5px;
	border-radius: 10px;
}

.ballot-left {
	border: 2px solid darkgrey;
	margin: 5px;
	border-radius: 10px;
}

.ballot-right {
	border: 2px solid darkgrey;
	margin: 5px;
	border-radius: 10px;
}

.ballot-did-not-vote {
	background-color: darkgrey;
}

.ballot-yes {
	background-color: lightgreen;
}

.ballot-no {
	background-color: lightcoral;
}

/* I'm no sorry about this but it was the only way I could make it centre vertically */
.floater {
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -10%;
}

.ballot-text {
	clear: both;
	text-align: center;
}